<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>about</title>
<link rel="stylesheet" href="__PUBLIC__/css/common.css"/>
<link rel="stylesheet" href="__PUBLIC__/css/style20151231.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="__PUBLIC__/css/style.css"/>

    <script id="requirejs" src="__PUBLIC__/js/require.2d213b58c463.js" ></script>
    <script src="__PUBLIC__/js/appCommon.e94acb54466a.js" ></script>
     <script src="__PUBLIC__/js/index.1644602d699c.js"></script> 
     <script type="text/javascript" src="__PUBLIC__/js/koala.min.1.5.js"></script>

<script src="__PUBLIC__/js/index/jquery1.9.1.js" type="text/javascript"></script>

<script src="__PUBLIC__/js/index/index.js"></script>
<script src="__PUBLIC__/js/index/zhuce.js"></script>
</head>

<body>
<div class="wapper about_us lang_zh-cn" style="min-width:1080px;">
  <include file="Public:head" />
     <article>
	<div class="wrap cf" style=" margin-top:100px; overflow:hidden;">
		<nav class="fl" id="a_nav1">
			<ul>
				<li id="table11"><a href="javascript:;" onClick="table(1);" id="table111"  title="关于我们">关于我们</a></li>
				<li id="table22"><a href="javascript:;" onClick="table(2);" id="table222" title="人才招聘">人才招聘</a></li>
				<li id="table33"><a href="javascript:;" onClick="table(3);" id="table333" title="联系我们">联系我们</a></li>
				<li id="table44"><a href="javascript:;" onClick="table(4);" id="table444" title="意见建议">意见建议</a></li>
			</ul>
		</nav>
		<div class="fl">
			<div id="table1">
					<section>
                      <h3>关于我们</h3>
						<p>学堂在线“中国创业学院”频道是面向全球的创业教育平台，聚焦创意、创新、创业相关的教育培训服务，汇聚全球高校、企业和政府的优质资源，全力打造全球化的创业教育生态圈。</p>
					</section>
					<section>

						<p>中国创业学院与教育部在线教育研究中心、清华大学以及国内外知名大学和组织的紧密合作，通过线上与线下、课堂与实训、院校教师与行业专家相结合的教育模式，为学习者提供全方位的创意、创新、创业学习体验。</p>

					</section>
			</div>
			
			<div id="table2">
					<section>
						<h3>人才招聘</h3>
                        <h4>BD商务拓展经理</h4>
                        <p>负责并参与BD相关的活动策划、商务谈判与方案执行
</p>
                        <p>熟悉互联网营销知识，有社会化媒体营销经验
</p>
                        <p>有较强的语言表达、沟通与协调能力</p>
                        <p>具有市场拓展、渠道建设、商务谈判技巧及实战经验</p>
                        <h4>课程运营专员</h4>
                        <p>负责并参与课程相关的内容搭建和活动规划
</p>
                        <p>保证课程与在线教育平台的内容质量及用户流量
</p>
                        <p>热爱在线教育，了解互联网用户的学习风格</p>
                         <p>具有较强的创新精神，以及优秀的文案写作、活动策划能力</p>
                        <h4>课程产品经理</h4>
                        <p>负责并参与课程的规划、设计、制作跟进、上线等工作
</p>                    <p>拥有过硬的沟通能力和团队协作能力</p>
                        <p>熟悉在线课程，了解在线学习者的特点
</p>
                         <p>具有课程设计、教育培训、教育咨询等工作经验</p>
                        <h4>技术研发经理</h4>
                        <p>负责并参与公司在线学习平台的技术研发管理
</p>
                        <p>带领团队高质量地完成公司制定的开发目标
</p>
                        <p>具有e-Learning、互联网等相关产品研发和管理的工作经验最佳</p>
                        <h4>大数据分析师</h4>
                        <p>负责并参与MOOC相关数据的提取、分析、挖掘和总结
</p>                    <p>对数据敏感，熟悉常用的大数据分析工具、相关原理和算法</p>
                        <p>对互联网用户在线学习行为有一定的了解
</p>
                         <p>具有数据抓取、数据清洗、数据可视化能力最佳</p>

					</section>

					<p>有创业激情的你，请发简历至</p>
					<p>Email：<a href="mailto:jobs@chuangedu.com.cn">jobs@chuangedu.com.cn</a></p>
					<p>欢迎加盟有前途、有情怀、有创意、有成就的中国创业学院</p>
			</div>
            <div id="table3">
				<section>
					<h3>联系我们</h3>
					<p>建议或技术支持发邮件到：</p>
					<p><a href="mailto:support@chuangedu.com.cn">support@chuangedu.com.cn</a></p>
					<p>关于课程的问题发邮件到：</p>
					<p><a href="mailto:course@chuangedu.com.cn">course@chuangedu.com.cn</a></p>
					<p>关于合作洽谈发邮件到：</p>
					<p><a href="mailto:partner@chuangedu.com.cn">partner@chuangedu.com.cn</a></p>
					<p>媒体交流请发邮件至：</p>
					<p><a href="mailto:media@chuangedu.com.cn">media@chuangedu.com.cn</a></p>
                    <p>招聘咨询请发邮件至：</p>
					<p><a href="mailto:jobs@chuangedu.com.cn">jobs@chuangedu.com.cn</a></p>
					<p>办公地址：北京市 海淀区 清华科技园 创新大厦A座207</p>
					<p>咨询电话：010-62797703</p>
					<p>官方微信：创一教育</p>
				</section>
			</div>
			<div id="table4">
				<section>
					<h3>意见建议</h3>
					<p>建议或技术支持发邮件到：</p>
					<p><a href="mailto:support@chuangedu.com.cn">support@chuangedu.com.cn</a></p>
					<p>关于课程的问题发邮件到：</p>
					<p><a href="mailto:course@chuangedu.com.cn">course@chuangedu.com.cn</a></p>
					<p>关于合作洽谈发邮件到：</p>
					<p><a href="mailto:partner@chuangedu.com.cn">partner@chuangedu.com.cn</a></p>
					<p>媒体交流请发邮件至：</p>
					<p><a href="mailto:media@chuangedu.com.cn">media@chuangedu.com.cn</a></p>
                    <p>招聘咨询请发邮件至：</p>
					<p><a href="mailto:jobs@chuangedu.com.cn">jobs@chuangedu.com.cn</a></p>
					<p>办公地址：北京市 海淀区 清华科技园 创新大厦A座207</p>
					<p>咨询电话：010-62797703</p>
					<p>官方微信：创一教育</p>
				</section>
			</div>
		</div>
	</div>
</article>
     <include file="Public:foot" />
</div>


<script src="__PUBLIC__/js/index/jquery1.9.1.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/index/sea.js" type="text/javascript" data-main="focus.js"></script>
<script src="__PUBLIC__/js/index/index.js"></script>
<script src="__PUBLIC__/js/index/zhuce.js"></script>




</body>
</html>
<!--登录／-->
<div id="login1"  >
    <div class="mask" id="dialogBg" style="display:none;"></div>
    <div class="login_content animated bounceInDown" id="dialog" style="display:none;" >
      <a class="sy_close claseDialogBtn" href="javascript:;" onclick="window.location.reload();"></a>
      <div class="sy_lg_content">
        <a class="sy_zhuce" href="javascript:;" onclick="zcaaa();">没有账号，免费注册 </a>
				<div id="pwuser" style="width: 310px; height: 25px; line-height: 25px; border-radius: 5px; text-align: center; margin: 0 auto; color:#FF0000;">
		</div>
        <div class="sy_shuru">
            <ul>
                <li>
                    <div class="sy_name"><img src="__PUBLIC__/image/sjh.png"/></div>
                    <input class="sy_shuruk" id="login_name" type="text" placeholder="请输入邮箱或手机号码" value="{$name}"/>
                </li>
                <li>
                    <div class="sy_name"><img src="__PUBLIC__/image/mm.png"/></div>
                    <input class="sy_shuruk"  id="user_name" type="password" placeholder="请输入密码"/>
                </li>
                
            </ul>
            <input class="sy_lg_fd" type="submit"name="anniu"  value="登录" onclick="login();" />
            <p><a href="">忘记密码？</a></p>
        </div>
        <!--<div class="sy_dsf">
            <p>或用以下方式直接登录</p>
            <ul>
                <li><a href="{:U('Index/code')}"><img src="__PUBLIC__/image/1wx.png"/></a></li>
                <li><a href=""><img src="__PUBLIC__/image/2wb.png"/></a></li>
                <li><a href="{:U('Index/login?type=qq')}"><img src="__PUBLIC__/image/3qq.png"/></a></li>
                <li><a href=""><img src="__PUBLIC__/image/4xtzx.png"/></a></li>
            </ul>
        </div>-->
      </div>
    </div>
    
</div>
<!--登录_end-->
<!--注册-->
<div id="login" style=" display:none;">
    <div class="login_zc_content animated" id="dialog" style="display:block; margin-top:-30px;">
      <a class="sy_close" href="javascript:;" onclick="window.location.reload();"></a>
      <div class="sy_lg_content">
      <!--<div class="sy_dsf_zc">
            <p>使用第三方账号直接登录</p>
            <ul>
                <li><a href="{:U('Index/code')}"><img src="__PUBLIC__/image/1wx.png"/></a></li>
                <li><a href=""><img src="__PUBLIC__/image/2wb.png"/></a></li>
                <li><a href="{:U('Index/login?type=qq')}"><img src="__PUBLIC__/image/3qq.png"/></a></li>
                <li><a href=""><img src="__PUBLIC__/image/4xtzx.png"/></a></li>
            </ul>
        </div>-->
        <a class="sy_zhuce" style=" margin-bottom:0px;" href="javascript:;" onclick="jump_login();">已有账号，直接登录 </a>
		<div id="username" style="width: 310px; height: 25px; line-height: 25px; border-radius: 5px; text-align: center; margin: 0 auto; color:#FF0000;">
			
		</div>
        <div class="sy_shuru">
            <ul>
                <li>
                    <input class="sy_zc_shuruk" name="zcdl" id="index_user" type="text" placeholder="请输入邮箱或手机号码"/>
                </li>
                <div style="overflow:hidden;">
                    <div class="sy_yzm_sr">
                        <input class="sy_shuruk_yzm" id="yzm"name="zcdl" type="text" placeholder="请输入验证码"/>
                     </div>
                        <a style=" width:137px; height:64px; float:left;" href="javascript:;" onclick="huoqu();"><div id="send" style="height: 52px !important;
    line-height: 52px !important;">获取验证码</div></a>
                 </div>
                
                
                <li>
                    <input class="sy_zc_shuruk" id="pw"name="zcdl" type="password" placeholder="请输入密码"/>
                </li>
                <div style="overflow:hidden;">
<!--                    <div class="sy_yzm_sr">
                        <input class="sy_shuruk_yzm" id="yzm"name="zcdl" type="text" placeholder="请输入图形验证码"/>
                     </div>
                     <a style=" display:block; width:137px; height:64px; float:left;" href="javascript:;" onclick="huoqu();"><img id="sendd" src=""/></a>
                 </div>-->

                
            </ul>
            <input class="sy_lg_zc" type="submit" name="anniu" value="注册" onclick="user();"/>
        </div>
        
      </div>
    </div>
    <div class="mask" id="dialogBg"></div>
</div>
<!--注册_end-->
<script>

function table(a)
{
	var div1=document.getElementById('table1');
	var div2=document.getElementById('table2');
	var div3=document.getElementById('table3');
	var div4=document.getElementById('table4');
	div1.style.display="none";
	div2.style.display="none";
	div3.style.display="none";
	div4.style.display="none";
	var div11=document.getElementById('table11');
	var div22=document.getElementById('table22');
	var div33=document.getElementById('table33');
	var div44=document.getElementById('table44');
	var div111=document.getElementById('table111');
	var div222=document.getElementById('table222');
	var div333=document.getElementById('table333');
	var div444=document.getElementById('table444');
	div11.style.backgroundColor="";
	div22.style.backgroundColor="";
	div33.style.backgroundColor="";
	div44.style.backgroundColor="";
	div111.style.color="#333";
	div222.style.color="#333";
	div333.style.color="#333";
	div444.style.color="#333";
	

	var str="table"+a;
	
	var div=document.getElementById(str);
	
	var divdiv=document.getElementById(str+a);
	
	var divdivdiv=document.getElementById(str+a+a);
	
	divdiv.style.backgroundColor="#762FE8";
	
	divdivdiv.style.color="#FCF7F7";
	
	div.style.display="block";
	
}
table({$aid});


</script>