<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>about</title>
<link rel="shortcut icon" href="__PUBLIC__/image/16x16logo.png" type="image/x-icon" />
<link rel="stylesheet" href="__PUBLIC__/css/common.css"/>
<link rel="stylesheet" href="__PUBLIC__/css/style20151231.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="__PUBLIC__/css/style.css"/>

    <script id="requirejs" src="__PUBLIC__/js/require.2d213b58c463.js" ></script>
    <script src="__PUBLIC__/js/appCommon.e94acb54466a.js" ></script>
     <script src="__PUBLIC__/js/index.1644602d699c.js"></script> 
     <script type="text/javascript" src="__PUBLIC__/js/koala.min.1.5.js"></script>

<script src="__PUBLIC__/js/index/jquery1.9.1.js" type="text/javascript"></script>

<script src="__PUBLIC__/js/index/index.js"></script>
<script src="__PUBLIC__/js/index/zhuce.js"></script>
</head>

<body>
<div class="wapper about_us lang_zh-cn" style="min-width:1080px;">
  <include file="Public:head" />
     <article>
	<div class="wrap cf" style=" margin-top:100px; overflow:hidden;">
		<nav class="fl" id="a_nav1">
			<ul>
				<li id="table11"><a href="javascript:;" onClick="table(1);" id="table111"  title="关于我们">关于我们</a></li>
				<li id="table22"><a href="javascript:;" onClick="table(2);" id="table222" title="人才招聘">人才招聘</a></li>
				<li id="table33"><a href="javascript:;" onClick="table(3);" id="table333" title="联系我们">联系我们</a></li>
				<li id="table44"><a href="javascript:;" onClick="table(4);" id="table444" title="意见建议">意见建议</a></li>
			</ul>
		</nav>
		<div class="fl">
			<div id="table1">
					<section>
                      <h3>关于我们</h3>
						<script src="http://p.bokecc.com/player?vid=62B492E7F48B75D69C33DC5901307461&siteid=B73CC50AF38DFD67&autoStart=true&width=560&height=350&playerid=78F3CEA674B99498&playertype=1" type="text/javascript"></script>
						<p>学堂在线“中国创业学院”频道是面向全球的创业教育平台，聚焦创意、创新、创业相关的教育培训服务，汇聚全球高校、企业和政府的优质资源，全力打造全球化的创业教育生态圈。</p>
					</section>
					<section>

						<p>中国创业学院与教育部在线教育研究中心、清华大学以及国内外知名大学和组织的紧密合作，通过线上与线下、课堂与实训、院校教师与行业专家相结合的教育模式，为学习者提供全方位的创意、创新、创业学习体验。</p>

					</section>
			</div>
			
			<div id="table2">
					<section>
						<h3>人才招聘</h3>
<h4>营销类</h4>
<p><B>销售总监</B></p>
<p>负责市场开发、渠道拓展及维护，带领团队实现目标分解、落地、达成</p>
<p>具备资深大客户销售背景，热爱教育、主动接受挑战、创新创业意识极强</p>
<p>5年以上销售团队管理经验，EMBA/MBA背景优先</p><br>
<p><B>客户经理</B></p>
<p>参与市场开发、渠道拓展及维护，协助合作方案撰写、商务谈判及执行跟进 </p>
<p>深度了解互联网营销理念，具备社交媒体营销经验</p>
<p>沟通协调能力极佳、善于挖掘用户需求</p>
<p>具备互联网企业营销工作经验，咨询、教育、创业背景优先</p>
<h4>市场类</h4>
<p><B>新媒体编辑</B></p>
<p>负责企业新媒体平台（微信、微博）内容编发及更新维护</p>
<p>策划执行线上、线下活动,提高粉丝关注度、活跃度</p>
<p>热爱互联网，熟悉各类Web 2.0产品应用，对博客、论坛、微信、微博兴趣浓厚</p>
<p>文字表达能力极佳，乐于创新、善于沟通、注重团队合作</p>
<p>1-2年同岗位工作经验，面试需提供相关作品</p><br>
<p><B>市场推广</B></p>
<p>负责市场活动策划、执行，发掘商机并跟踪推进</p>
<p>热爱互联网，对网络及社会热点嗅觉敏锐</p>
<p>统筹、沟通协调能力极佳，积极主动、责任心强</p>
<p>具备1-2年活动策划及执行经验</p>
<h4>产品类</h4>
<p><B>产品经理/教学设计经理</B></p>
<p>负责用户学习需求调研，慕课/微课产品体系搭建及课程一体化设计，教学运营跟进、反馈及持续优化</p>
<p>热爱教育行业、熟悉互联网学习用户心态、沟通及协调能力极强</p>
<p>独立思考、具有创新意识和思维 </p>
<p>具备同岗位工作背景优先</p><br>
<p><B>影视后期制作</B></p>
<p>负责在线课程后期制作及特效包装、剪辑</p>
<p>优秀的美术设计理念及功底，精通各类三维、平面、后期合成剪辑类软件</p>
<p>视频后期处理经验丰富，具有团队合作精神</p>
<p>2年以上工作经验，面试需提供相关作品</p>
<h4>技术类</h4>
<p><B>大数据分析师</B></p>
<p>负责并参与MOOC相关数据提取分析及挖掘总结 </p>
<p>数据敏感性高，熟悉常用大数据分析工具及相关原理、算法</p>
<p>深度了解互联网在线学习用户思维及行为</p>
<p>具备数据抓取、清洗、可视化专业技能优先</p><br>
<p><B>技术研发经理</B></p>
<p>带领团队高效效完成公司制定的开发目标</p>
<p>负责并参与公司在线学习平台技术研发管理 </p>
<p>具备e-Learning、互联网相关产品研发管理工作经验优先</p>
<h4>职能类</h4>
<p><B>培训总监</B></p>
<p>负责课程体系搭建及实施规划，带领团队完成线下课程与在线教育平台的内容质量及用户流量 </p>
<p>热爱教育，线下培训班运营经验丰富、了解互联网用户学习风格</p>
<p>创新精神极佳，优秀的文案写作、活动策划能力</p>

					</section><br><br>

<p><B>上述岗位工作地点：北京</B><br></p>
<p>欢迎加盟有前途、有情怀、有创意、有成就的中国创业学院</p>
<p>请投递简历至：<a href="mailto:jobs@chuangedu.com.cn">jobs@chuangedu.com.cn</a></p>
			</div>
            <div id="table3">
				<section>
					<h3>联系我们</h3>
					<p>建议或技术支持发邮件到：</p>
					<p><a href="mailto:support@chuangedu.com.cn">support@chuangedu.com.cn</a></p>
					<p>关于课程的问题发邮件到：</p>
					<p><a href="mailto:course@chuangedu.com.cn">course@chuangedu.com.cn</a></p>
					<p>关于合作洽谈发邮件到：</p>
					<p><a href="mailto:partner@chuangedu.com.cn">partner@chuangedu.com.cn</a></p>
					<p>媒体交流请发邮件至：</p>
					<p><a href="mailto:media@chuangedu.com.cn">media@chuangedu.com.cn</a></p>
                    <p>招聘咨询请发邮件至：</p>
					<p><a href="mailto:jobs@chuangedu.com.cn">jobs@chuangedu.com.cn</a></p>
					<p>办公地址：北京市 海淀区 清华科技园 创新大厦A座207</p>
					<p>咨询电话：010-62797703</p>
					<p>官方微信：创一教育</p>
				</section>
			</div>
			<div id="table4">
				<section>
					<h3>意见建议</h3>
					<p>建议或技术支持发邮件到：</p>
					<p><a href="mailto:support@chuangedu.com.cn">support@chuangedu.com.cn</a></p>
					<p>关于课程的问题发邮件到：</p>
					<p><a href="mailto:course@chuangedu.com.cn">course@chuangedu.com.cn</a></p>
					<p>关于合作洽谈发邮件到：</p>
					<p><a href="mailto:partner@chuangedu.com.cn">partner@chuangedu.com.cn</a></p>
					<p>媒体交流请发邮件至：</p>
					<p><a href="mailto:media@chuangedu.com.cn">media@chuangedu.com.cn</a></p>
                    <p>招聘咨询请发邮件至：</p>
					<p><a href="mailto:jobs@chuangedu.com.cn">jobs@chuangedu.com.cn</a></p>
					<p>办公地址：北京市 海淀区 清华科技园 创新大厦A座207</p>
					<p>咨询电话：010-62797703</p>
					<p>官方微信：创一教育</p>
				</section>
			</div>
		</div>
	</div>
</article>
     <include file="Public:foot" />
</div>


<script src="__PUBLIC__/js/index/jquery1.9.1.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/index/sea.js" type="text/javascript" data-main="focus.js"></script>
<script src="__PUBLIC__/js/index/index.js"></script>
<script src="__PUBLIC__/js/index/zhuce.js"></script>




</body>
</html>
<!--登录／-->
<div id="login1"  >
    <div class="mask" id="dialogBg" style="display:none;"></div>
    <div class="login_content animated bounceInDown" id="dialog" style="display:none;" >
      <a class="sy_close claseDialogBtn" href="javascript:;" onclick="window.location.reload();"></a>
      <div class="sy_lg_content">
        <a class="sy_zhuce" href="javascript:;" onclick="zcaaa();">没有账号，免费注册 </a>
				<div id="pwuser" style="width: 310px; height: 25px; line-height: 25px; border-radius: 5px; text-align: center; margin: 0 auto; color:#FF0000;">
		</div>
        <div class="sy_shuru">
            <ul>
                <li>
                    <div class="sy_name"><img src="__PUBLIC__/image/sjh.png"/></div>
                    <input class="sy_shuruk" id="login_name" type="text" placeholder="请输入邮箱或手机号码" value="{$name}"/>
                </li>
                <li>
                    <div class="sy_name"><img src="__PUBLIC__/image/mm.png"/></div>
                    <input class="sy_shuruk"  id="user_name" type="password" placeholder="请输入密码"/>
                </li>
                
            </ul>
            <input class="sy_lg_fd" type="submit"name="anniu"  value="登录" onclick="login();" />
            <p><a href="">忘记密码？</a></p>
        </div>
        <!--<div class="sy_dsf">
            <p>或用以下方式直接登录</p>
            <ul>
                <li><a href="{:U('Index/code')}"><img src="__PUBLIC__/image/1wx.png"/></a></li>
                <li><a href=""><img src="__PUBLIC__/image/2wb.png"/></a></li>
                <li><a href="{:U('Index/login?type=qq')}"><img src="__PUBLIC__/image/3qq.png"/></a></li>
                <li><a href=""><img src="__PUBLIC__/image/4xtzx.png"/></a></li>
            </ul>
        </div>-->
      </div>
    </div>
    
</div>
<!--登录_end-->
<!--注册-->
<div id="login" style=" display:none;">
    <div class="login_zc_content animated" id="dialog" style="display:block; margin-top:-30px;">
      <a class="sy_close" href="javascript:;" onclick="window.location.reload();"></a>
      <div class="sy_lg_content">
      <!--<div class="sy_dsf_zc">
            <p>使用第三方账号直接登录</p>
            <ul>
                <li><a href="{:U('Index/code')}"><img src="__PUBLIC__/image/1wx.png"/></a></li>
                <li><a href=""><img src="__PUBLIC__/image/2wb.png"/></a></li>
                <li><a href="{:U('Index/login?type=qq')}"><img src="__PUBLIC__/image/3qq.png"/></a></li>
                <li><a href=""><img src="__PUBLIC__/image/4xtzx.png"/></a></li>
            </ul>
        </div>-->
        <a class="sy_zhuce" style=" margin-bottom:0px;" href="javascript:;" onclick="jump_login();">已有账号，直接登录 </a>
		<div id="username" style="width: 310px; height: 25px; line-height: 25px; border-radius: 5px; text-align: center; margin: 0 auto; color:#FF0000;">
			
		</div>
        <div class="sy_shuru">
            <ul>
                <li>
                    <input class="sy_zc_shuruk" name="zcdl" id="index_user" type="text" placeholder="请输入邮箱或手机号码"/>
                </li>
                <div style="overflow:hidden;">
                    <div class="sy_yzm_sr">
                        <input class="sy_shuruk_yzm" id="yzm"name="zcdl" type="text" placeholder="请输入验证码"/>
                     </div>
                        <a style=" width:137px; height:64px; float:left;" href="javascript:;" onclick="huoqu();"><div id="send" style="height: 52px !important;
    line-height: 52px !important;">获取验证码</div></a>
                 </div>
                
                
                <li>
                    <input class="sy_zc_shuruk" id="pw"name="zcdl" type="password" placeholder="请输入密码"/>
                </li>
                <div style="overflow:hidden;">
<!--                    <div class="sy_yzm_sr">
                        <input class="sy_shuruk_yzm" id="yzm"name="zcdl" type="text" placeholder="请输入图形验证码"/>
                     </div>
                     <a style=" display:block; width:137px; height:64px; float:left;" href="javascript:;" onclick="huoqu();"><img id="sendd" src=""/></a>
                 </div>-->

                
            </ul>
            <input class="sy_lg_zc" type="submit" name="anniu" value="注册" onclick="user();"/>
        </div>
        
      </div>
    </div>
    <div class="mask" id="dialogBg"></div>
</div>
<!--注册_end-->
<script>

function table(a)
{
	var div1=document.getElementById('table1');
	var div2=document.getElementById('table2');
	var div3=document.getElementById('table3');
	var div4=document.getElementById('table4');
	div1.style.display="none";
	div2.style.display="none";
	div3.style.display="none";
	div4.style.display="none";
	var div11=document.getElementById('table11');
	var div22=document.getElementById('table22');
	var div33=document.getElementById('table33');
	var div44=document.getElementById('table44');
	var div111=document.getElementById('table111');
	var div222=document.getElementById('table222');
	var div333=document.getElementById('table333');
	var div444=document.getElementById('table444');
	div11.style.backgroundColor="";
	div22.style.backgroundColor="";
	div33.style.backgroundColor="";
	div44.style.backgroundColor="";
	div111.style.color="#333";
	div222.style.color="#333";
	div333.style.color="#333";
	div444.style.color="#333";
	

	var str="table"+a;
	
	var div=document.getElementById(str);
	
	var divdiv=document.getElementById(str+a);
	
	var divdivdiv=document.getElementById(str+a+a);
	
	divdiv.style.backgroundColor="#762FE8";
	
	divdivdiv.style.color="#FCF7F7";
	
	div.style.display="block";
	
}
table({$aid});


</script>