<!DOCTYPE html __PUBLIC__ "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width"/>

<meta name="viewport" id="viewportid" content="target-densitydpi=285,width=640,user-scalable=no">

<script async type="text/javascript"></script><script>if(window.innerWidth>640)document.getElementById('viewportid').setAttribute('content','target-densitydpi=285,width=640,user-scalable=no');if(window.innerWidth<640)document.getElementById('viewportid').setAttribute('content','target-densitydpi=320,width=640,user-scalable=no');</script> 

<meta name="apple-touch-fullscreen" content="no">

<meta content="telephone=no" name="format-detection">

<meta name="apple-mobile-web-app-capable" content="no">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{$name}</title>
<link rel="stylesheet" href="__PUBLIC__/css/phone_style.css" />
<link rel="stylesheet" href="__PUBLIC__/css/phone_kecheng.css" />
<style type="text/css">
.k_lb{ position:absolute;top:90px; left:0px; z-index:1000;}
</style>
</head>
<body>
<div class="warpper" style="background:#fff; position:relative;">
  <div class="l_top">
      <p>课程标题创办新企业</p>
  </div>
  <div class="k_lb">
       <ul>
           <li>
               <a href="" class="k_jiang">
                   <p><span>第一章</span>创业者的梦想课堂</p>
                   <img src="__PUBLIC__/image/k_xia.png"/>
               </a>
               <a href="" class="k_jie">
                   <ol>
                       <li>
                           <p><span>第一节</span>创业者的梦想课堂</p>
                           <img src="__PUBLIC__/image/play.png"/>
                       </li>
                       <li>
                           <p><span>第一节</span>创业者的梦想课堂</p>
                           <img src="__PUBLIC__/image/play.png"/>
                       </li>
                   </ol>
                </a>
           </li>
           
           <li>
               <a href="" class="k_jiang">
                   <p><span>第一章</span>创业者的梦想课堂</p>
                   <img src="__PUBLIC__/image/k_xia.png"/>
               </a>
               <a href="" class="k_jie">
                   <ol>
                       <li>
                           <p><span>第一节</span>创业者的梦想课堂</p>
                           <img src="__PUBLIC__/image/play.png"/>
                       </li>
                   </ol>
                </a>
           </li>      
       </ul>
  </div>
</div>
</body>
</html>
<script src="__PUBLIC__/js/index/jquery1.9.1.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/js/weike/weike.js"> </script>