<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>资讯管理</title>

  <!--dynamic table-->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/js/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
  <link href="__PUBLIC__/Admin/js/advanced-datatable/__PUBLIC__/Admin/css/demo_page.css" rel="stylesheet" />
  <link href="__PUBLIC__/Admin/js/advanced-datatable/__PUBLIC__/Admin/css/demo_table.css" rel="stylesheet" />
  <link rel="stylesheet" href="__PUBLIC__/Admin/js/data-tables/DT_bootstrap.css" />
  <!--pickers css-->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/js/bootstrap-datepicker/__PUBLIC__/Admin/css/datepicker-custom.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/js/bootstrap-timepicker/__PUBLIC__/Admin/css/timepicker.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/js/bootstrap-colorpicker/__PUBLIC__/Admin/css/colorpicker.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/js/bootstrap-datetimepicker/__PUBLIC__/Admin/css/datetimepicker-custom.css" />

  <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet">
  <link href="__PUBLIC__/Admin/css/style-responsive.css" rel="stylesheet">
  <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet">
  <link href="__PUBLIC__/Admin/css/style-responsive.css" rel="stylesheet">
  <style>
.panel-body form {
    margin-left: 40px !important;
}
  </style>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="__PUBLIC__/Admin/js/html5shiv.js"></script>
  <script src="__PUBLIC__/Admin/js/respond.min.js"></script>
  <![endif]-->
</head>
<body class="sticky-header" style=" background:#EFF0F4 none repeat scroll 0% 0%;">
          <div class="page-heading">
            <h3>
               教师列表
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">教师列表</a>
                </li>
                <li class="active"> 添加教师</li>
            </ul>
        </div>
         <div class="row" style="padding-top:0px; margin-left:0px;" >
            <div class="col-lg-6" style="width:99%;">
                <section class="panel">
                    <header class="panel-heading">
                       添加教师
                    </header>
                    <div class="panel-body">
                        <form role="form" method="post" action="" enctype="multipart/form-data">
                            <div class="form-group" style="width:100%;">
                                <label for="exampleInputEmail1">姓名</label>
                                <input type="text" id="title" name="name" value="{$data.name}" style="width:80%;" class="form-control" id="exampleInputEmail1" placeholder="请输入教师姓名">
                            </div>
                            <div class="form-group" style="width:100%;">
                                <label for="exampleInputEmail1">职业</label>
                                <input type="text" id="jobname" name="job" value="{$data.job}" style="width:80%;" class="form-control" id="exampleInputEmail1" placeholder="请输入职业名称">
                            </div>
                          
                             <div class="form-group" style="width:100%;">
                                <label for="exampleInputEmail1">简介</label>
                                <input type="text" id="firm" name="brief" value="{$data.brief}" style="width:80%;" class="form-control" id="exampleInputEmail1" placeholder="请输教师简介">
                            </div>
                            <!--<div class="form-group" style="width:100%;">
                                <label for="exampleInputEmail1">公司</label>
                                <input type="text" id="firm" name="firm" style="width:80%;" class="form-control" id="exampleInputEmail1" placeholder="请输入公司名称">
                            </div>-->
                            
                             <if condition="$data[image] neq ''">
                            <div class="form-group">
                                <label for="exampleInputFile">原图片</label>
                                <img src="__ROOT__{$data.image}" style="width:95px; height:95px;">
                                <input type="hidden" name="olurl" value="{$data.picurl}">
                            </div>
                            
                            </if>
                            
                            
                            <div class="form-group">
                                <label for="exampleInputFile">上传图片</label>
                                <input type="file" name="picurl" id="exampleInputFile">
                                <p style="color:#ee0f19;" class="help-block">＊图片规格95*95px   ＊上传图片不能超过1M</p>
                            </div>
                            
                            <div class="form-group">
                                <label for="exampleInputFile">是否首页显示为创业导师</label>
                               <input type="radio" value="1" name="istutor" style="margin-left:8px; margin-right:8px;" <if condition="$data[istutor] eq 1">checked="checked"</if> >是
                                <input type="radio" value="0"  name="istutor" style="margin-left:8px; margin-right:8px;" <if condition="$data[istutor] eq 0">checked="checked"</if> >否
                            </div>
                            
					<textarea id="body"  name="body" style="display:none;"></textarea>
                 <script id="editor" type="text/plain" style="width:1024px;height:500px;"></script>
            </div>
                              <input type="hidden" name="id" value="{$data.id}">
                            <button style="width:100px !important; margin-left:60px; margin-bottom:40px !important;"  type="submit" class="btn btn-primary">取消</button>
                            <button style="width:100px !important; margin-left:40px; margin-bottom:40px !important; " id="tijiao"  type="submit" class="btn btn-primary">提交</button>
                        </form>

                    </div>
                </section>
            </div>
</div>
<!-- Placed js at the end of the document so the pages load faster -->
<!-- Placed js at the end of the document so the pages load faster -->
<script src="__PUBLIC__/Admin/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/Admin/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__/Admin/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Admin/js/modernizr.min.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.nicescroll.js"></script>

<!--pickers plugins-->
<script type="text/javascript" src="__PUBLIC__/Admin/js/bootstrap-datepicker/__PUBLIC__/Admin/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/bootstrap-datetimepicker/__PUBLIC__/Admin/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/bootstrap-colorpicker/__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/bootstrap-timepicker/__PUBLIC__/Admin/js/bootstrap-timepicker.js"></script>



<!--common scripts for all pages-->
<script src="__PUBLIC__/Admin/js/scripts.js"></script>




<script type="text/javascript" src="__PUBLIC__/Admin/js/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>

<!--common scripts for all pages-->
<script src="__PUBLIC__/Admin/js/scripts.js"></script>

<script>
$(document).ready(function(e) {
    $("#tijiao").click(function(e){
		var title=$("#title").val();
		var url=$("#jobname").val();
		var firm=$("#firm").val();
		if(title==""){
			alert("请输入姓名");
			return false;
		}else if(url==""){
			alert("请输入职业");
			return false;
		}else if(firm==""){
			alert("请输入公司");
			return false;
			}
		gethtml();
		})
});

    jQuery(document).ready(function(){
         $('.wysihtml5').wysihtml5();
    });
</script>
<script type="text/javascript" charset="utf-8" src="__ROOT__/bianji/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__ROOT__/bianji/ueditor.all.min.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="__ROOT__/bianji/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
	
	//var text='{$vo.body}';
//
//	alert(text);

	ue.ready(function() {
    //设置编辑器的内容
    ue.setContent('{$data.body}');
	
});

	function gethtml()
	{
		ue.ready(function() {

		//获取html内容，返回: <p>hello</p>
		var html = ue.getContent();
		
		document.getElementById("body").innerHTML = html;
		
		});	
	} 

</script>
</body>
</html>