<!DOCTYPE HTML>
<html>
<head>
<title>创业者4D天生性格色彩测评——中国创业学院出品</title>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="viewport" id="viewportid" content="target-densitydpi=285,width=640,user-scalable=no">
<script type="text/javascript">    function Request(strName) {        var strHref = window.document.location.href;        var intPos = strHref.indexOf("?");        var strRight = strHref.substr(intPos + 1);
        var arrTmp = strRight.split("&");        for (var i = 0; i < arrTmp.length; i++) {            var arrTemp = arrTmp[i].split("=");
            if (arrTemp[0].toUpperCase() == strName.toUpperCase()) return arrTemp[1];        }        return "";    }    var safari = navigator.userAgent.indexOf('AppleWebKit') != -1;    var chrome=navigator.userAgent.indexOf('Chrome')==-1;    if (safari && chrome && Request("safari") != "1") {        var loc = window.location.href;        if (loc.indexOf("?") > -1) {            loc += "&safari=1";         }        else            loc += "?safari=1";        window.location.href =  "http://www.sojump.com/wjx/join/sc.aspx?url=" + encodeURIComponent(loc);     }</script>
<link rel="stylesheet" href="__PUBLIC__/css/phone_style.css" />
</head>

<body>
 <a href="javascript:;" class="m_nav" >
     <img style="margin-top:20px !important;margin-left:18px;" src="__PUBLIC__/image/log.png" />
 </a>
<div class="header">
</div>

<div>
<iframe style="width: 100%; height:600px;" frameborder="0" src="http://www.sojump.com/m/8001569.aspx"></iframe>
</div>

<div class="footer">
<p align="center" style="color:#C0C0C0;margin-top:50px;margin-bottom:20px;font-size:150%;">
<a href="http://www.chuangedu.com.cn/Home/Weike/index.html">~~点击学习清华创业在线课程~~</a>
</p>
</div>

</body>
</html>
