<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<script charset="utf-8" src="__PUBLIC__/js/Plugin/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="__PUBLIC__/js/Plugin/kindeditor/lang/zh_CN.js"></script>
</head>

<body>
	<textarea name='content' class='content1'></textarea>
    <script type='text/javascript'>
				var cntnts='textarea.content1';
				KindEditor.create(cntnts, {
					resizeType : 1,
					//allowPreviewEmoticons : false,
					//minWidth:400,
					allowFileManager : true,
					allowImageUpload : true,
					items : [
						'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
						'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
						'insertunorderedlist', '|', 'emoticons', 'image', 'link']
				});
			</script>

</body>
</html>
