<!DOCTYPE html __PUBLIC__ "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width"/>

<meta name="viewport" id="viewportid" content="target-densitydpi=285,width=640,user-scalable=no">

<script async type="text/javascript"></script><script>if(window.innerWidth>640)document.getElementById('viewportid').setAttribute('content','target-densitydpi=285,width=640,user-scalable=no');if(window.innerWidth<640)document.getElementById('viewportid').setAttribute('content','target-densitydpi=320,width=640,user-scalable=no');</script> 

<meta name="apple-touch-fullscreen" content="no">

<meta content="telephone=no" name="format-detection">

<meta name="apple-mobile-web-app-capable" content="no">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{$kcname}</title>
<link rel="stylesheet" href="__PUBLIC__/css/phone_style.css" />
<link rel="stylesheet" href="__PUBLIC__/css/phone_void.css" />
<style type="text/css">
.k_lb{top:90px; left:0px; }
.div1{
    width: 640px;
    height: auto !important;
    line-height: 94px;
    color: #000;
    font-size: 30px;
    text-align: left;
    border-bottom: 1px solid #cccccc;
}
.k_jie p {
    width: 560px;
    float: left;
    font-size: 26px !important;
    color: #333;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.k_jiang p {
    width: 560px;
    float: left;
    font-size: 30px !important;
    color: #000;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.k_word img{max-width:640px; }
</style>
</head>
<body>
<div class="warpper" style="background:#fff; position:relative;">
<include file="Public:phone_head" />
</div>
<div class="warpper" style="background:#fff; position:relative;">

  <div class="l_top">
      <p>{$kcname}</p>
      <a href="javascript:;" onclick="open_mulu()" id="daixiugai">目录</a>
  </div>

  <div class="k_lb" id="mulu" style="display:none; height:auto">

           <div class="div1">
           <volist name="add" id="vo">
          	<if condition="$vo.is_zhangjie eq 0 ">    
               <a href="javascript:;" class="k_jiang" onclick="zhangjie({$vo.id});">
                   <p>{$vo.name}</p>
                   <img id='{$vo.id}_img' src="__PUBLIC__/image/k_xia.png"/>
               </a>
             </if>  
               <if condition="$vo.is_zhangjie neq 0 ">  
               <a href="javascript:;" style="display:none;" class="k_jie" name="{$vo.is_zhangjie}" id="xiaojie" onclick="get_xiaojie('{$vo.id}')">
                   <ol id="{$vo.id}">
                       <li>
                           <p >{$vo.name}</p>
                           <img src="__PUBLIC__/image/play.png"/>
                       </li>
                    </ol>   
                </a>
               </if> 
               </volist> 
           </div>

  </div>
  <div class="m_mask" id="zhezhao" style="display:none;"></div>

<if condition="$type eq 0 "> 
   <div class="kechena">
     	<script src="http://p.bokecc.com/player?vid={$cc_code}&siteid=B73CC50AF38DFD67&autoStart=true&width=640&height=356&playerid=78F3CEA674B99498&playertype=2" type="text/javascript"></script>
   </div>
  </if> 
  <!--文本-->
  <if condition="$type eq 1 "> 
  <div class="k_word">
  	{$body}
  </div>
  </if>
                    
               
  <div class="k_sort">
      <div class="k_jie1" id="kejie1">
          <ul id="k_jie">
              
          </ul>
      </div>
  </div>
</div>
</body>
</html>
<script src="__PUBLIC__/js/index/jquery1.9.1.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/js/course/phone_void.js"> </script>
<script>
var public='__PUBLIC__/';
var url='__URL__/';
zhangjie('{$zhangjie_id}');
get_xiaojie('{$xiaojie_id}');
/*iframepage('__URL__/phone_voidplay/id/{$xid}','{$xid}');*/
	var aaa='';
function ifare()
{
	var ifm= document.getElementById("external-frame");   
	var subWeb = document.frames ? document.frames["external-frame"].document : ifm.contentDocument;   
	if(ifm != null && subWeb != null) {
   ifm.height = subWeb.body.scrollHeight;
   ifm.width = subWeb.body.scrollWidth;
  
}
}

function iFrameHeight(iframe) {   
if (iframe) {
var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
if (iframeWin.document.body) {
	
iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
ifare();
}
}   
} 
function ifheight () {
	
  iFrameHeight(document.getElementById('external-frame'));
}


setInterval("ifheight()",1000);	
</script>
<script src="__PUBLIC__/js/index/jquery1.9.1.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/index/sea.js" type="text/javascript" data-main="focus.js"></script>
<script src="__PUBLIC__/js/index/index.js"></script>
<script src="__PUBLIC__/js/index/zhuce.js"></script>

<script type="text/javascript">
var w,h,className;
function getSrceenWH(){
	w = $(window).width();
	h = $(window).height();
	$('#dialogBg').width(w).height(h);
}

window.onresize = function(){  
	getSrceenWH();
}  
$(window).resize();  

</script>