 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="x-ua-compatible" content="ie=7" /> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />-->
<title>中国创业学院</title>
<link rel="stylesheet" type="text/css" media="screen" href="__PUBLIC__/css/style.css"/>
<link rel="stylesheet" href="__PUBLIC__/css/common.css"/>

<style>
.kong{ font-size:18px; color:#525252; padding:30px; border-bottom:1px solid #d4d4d4;}
.kong span{ color:#62379E;}
</style>
</head>

<body style="">

	<include file="Public:head" />
<div class="wapper" style=" max-width:980px; width:100%; margin:0 auto; text-align:center; margin-top:80px;">
	
   
    <img src="__PUBLIC__/image/kong.png"/>
    <div class="kong">SORRY,没有找到与<font color="#FF0000">{$sousuo}</font>相关的<span>搜索内容</span></div>
    <div style="text-align:left; width:260px; margin:0 auto; margin-top:40px; color:#999;">
        <p>建议你：</p>
        <p>检查输入的关键词是否有误。</p>
        <p>检查关键词。</p>
        <p>使用相近、相同或其他语义的关键词。</p>
        <p>放宽筛选条件。</p>
    </div>
</div>


</body>
</html>

