html,
body {
    width:640px;
    height: 100%;
    box-sizing: border-box;
    font-family: "微软雅黑"!important;
}
* {
    padding: 0;
    margin: 0;
}
section {
    display: flex;
    width:640px;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
}

.bar {
    border-top: 1px solid #ddd;
    width:640px;
    height: .44rem;
    background: #fff;
    display: flex;
}

.bar .border {
    background: #6d18ef;
    height: .24rem;
    width: .04rem;
    margin-top: .1rem;
    margin-right: .06rem;
}

.bar h4 {
    color: #6d18ef;
    font-size: .14rem;
    height: .44rem;
    line-height: .44rem;
    flex: 1
}

.detail_list {
    width:640px;
    padding: .1rem;
    flex: 1;
    background: #f4f5f7;
    box-sizing: border-box;
}
.tutor_list {
    width:640px;
    height: 100%;
}

.tutor_list li {
  box-sizing: border-box;
  width:600px;
    border: 1px solid #ececec;
    height: 1rem;
    background: #fff;
    padding-top: .3rem;
    display: flex;
}
.img_wrap {
      width: .55rem;
      height: .55rem;
      position: relative;
      background: #e4e2e3;
      border-radius: 50%;
      margin-left: .1rem;
      margin-right: .1rem;

  }

  .img_wrap img {
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      position: absolute;
      top: .025rem;
      left: .025rem;
  }

  .tutor_r {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .title{height: .16rem;}

  .tutor_r h3 {
      font-size: .14rem;
      margin-right: .1rem;
      font-weight: bold;
      display: inline;
  }

  .tutor_r span {
      font-size: .12rem;
      color: #828282;
      margin-top: .02rem;
      display: inline-block;
  }

  .tutor_c {
      margin-top: .1rem;
  }

  .tutor_c p {
      font-size: .12rem;
      line-height: .18rem;
      height: 100%;
      color: #9f9f9f;
      word-break: break-all;
      text-overflow: ellipsis;
      display: -webkit-box;
      /** 对象作为伸缩盒子模型显示 **/
      -webkit-box-orient: vertical;
      /** 设置或检索伸缩盒对象的子元素的排列方式 **/
      -webkit-line-clamp: 2;
      /** 显示的行数 **/
      overflow: hidden;
      /** 隐藏超出的内容 **/
  }
        a {
            text-decoration: none;
        }