@charset "UTF-8";
/* CSS Document */
*{ margin:0px; padding:0px;}
a{ text-decoration:none;}
*{font-family:"微软雅黑","黑体";}
.html{ font-size:20px;}
ul{ list-style:none;}
.a:hover a:visited{ text-decoration:none;}
.wapper{ width:100%; background:#e9eaec !important;}
.q_top{ width:100%; height:40px; background:#333333;}
.q_tcontent{ width:1080px; min-width:1080px; margin:0 auto;color:#fff; font-size:14px; }
.p1{ float:left;line-height:40px;color:#fff;}
.p2{ float:right; line-height:40px;}
.q_content{ width:100%;}
.q_bn{ height:200px; width:100%; text-align:center; }
.q_bn img{ width:100%;height: 100%;object-fit: cover;-webkit-object-fit: cover;-moz-object-fit: cover;-ms-object-fit: cover;}
.q_kc{ width:1080px; margin:0 auto; overflow:hidden;}
.q_left{ margin-top:20px !important; width:740px; margin-right:20px; background:#fff; float:left; clear:both;}
.qkc{ width:100%; font-size:18px; padding:10px 20px; float:left;}
.qbkc{ width:100%; padding:0px 20px;}
.qbkc ul{ width:100%; overflow:hidden;}
.qbkc ul li{ width:220px; padding:10px; font-size:16px; color:#333; height:194px; overflow:hidden; float:left;}
.qbkc ul li img{ width:200px; height:128px;}
.qbkc ul li p{ margin-top:10px;}
.q_right{ width:320px; float:left; background:#fff; margin-top:20px;}

.q_re{ width:100%; overflow:hidden;}
.qkc1{ width:28%; font-size:18px; padding:10px 10px 10px 20px; float:left;}
.bd{ border:none; width:180px; height:2px; float:left; background:#ccc; margin-top:20px;}
.q_right ul{ width:88%; padding:3% 6%; overflow:hidden;}
.q_right ul li{ width:100%; overflow:hidden; height:60px; padding-bottom:20px;}
.q_right ul li img{ float:left; width:80px; height:60px; clear:both; }
.q_right ul li p{ font-size:14px; color:#333; float:left; margin-left:10px; width:190px; height:60px; overflow:hidden;}
.q_footer{ width:100%; height:120px; background:#333; margin:0 auto; margin-top:30px; text-align:center; line-height:120px; color:#999;}