

<body >

<div class="sy_footer" style=" background-color: #333 !important; width:100%; min-width:1080px;" onClick="log1('public_pageFooter')">
          <div class="sy_footer_content" style="background-color: #333 !important;;">
               <div class="sy_f_about01">
                    <img src="__PUBLIC__/image/logo1.png"/>
                    <ul style="overflow:hidden;">
                        <li>
                            <!--<a href="{:U('About/index/?aid=1')}" >--><a href="javascript:;" onClick="log_url(event,'{:U('About/index/?aid=1')}','public_pageFooter')">关于我们</a>
                        </li>
                        <li>
                            <a href="javascript:;" onClick="log_url(event,'{:U('About/index/?aid=2')}','public_pageFooter')">人才招聘</a>
                        </li>
                        <li>
                            <a href="javascript:;" onClick="log_url(event,'{:U('About/index/?aid=3')}','public_pageFooter')">联系我们</a>
                        </li>
                        
                        <li>
                            <a href="javascript:;" onClick="log_url(event,'{:U('About/index/?aid=4')}','public_pageFooter')">意见反馈</a>
                        </li>
<!--                        <li>
                            <a href="">常见问题</a>
                        </li>
                        <li>
                            <a href="">意见反馈</a>
                        </li>
                        <li>
                            <a href="">法律条款</a>
                        </li>-->
                    </ul>
               </div>
               <div class="sy_company01">
                   <p>合作伙伴</p>
                   <ul>
                        <li><a href="http://www.xuetangx.com/"><img src="__PUBLIC__/image/01.png" target="_blank"/></a></li>
                        <li><a href="http://nerc.sem.tsinghua.edu.cn/"><img src="__PUBLIC__/image/02.png" target="_blank"/></a></li>
                        <li><a href="http://www.x-lab.tsinghua.edu.cn/"><img src="__PUBLIC__/image/03.png" target="_blank"/></a></li>
                        <li><a href="http://www.tusstar.com/"><img src="__PUBLIC__/image/04.png" target="_blank"/></a></li>
                        <li><a href="http://www.cyzone.cn/"><img src="__PUBLIC__/image/05.png" target="_blank"/></a></li>
                        <li><a href="http://www.tsinghua-vc.com/"><img src="__PUBLIC__/image/06.png" target="_blank"/></a></li>
                   </ul>
               </div>
               <div class="sy_concern" style="width: 200px !important; float:left; height:151px;background-color: #333 !important; position:relative;">
                  <ul>
                      <li><div class="sy_ewm" style="left: -26px !important; display:none;">
                              <div class="arrow_down">
                              <!--向下的三角-->
                              </div>
                             <img style="width:100px;" src="__PUBLIC__/image/wx_ewm.png"/>
                             
                           </div>
                          <a href="javascript:;" class="xuanfu" style="display:block;" > <img src="__PUBLIC__/image/weixin.png"/></a>
                      </li>
                      <li>
                            <a href="http://weibo.com/cie100"  style="display:block;"  target="_blank"> <img src="__PUBLIC__/image/weibao.png"/>  </a>
                      </li>
                      
                  </ul>
               </div>
               <div style=" clear:both;font-size:14px;width: 1080px; color:#959595; text-align:center; padding-top:30px;background-color: #333 !important;">
               公司地址：北京市海淀区清华科技园科建大厦6层<br/>
               联系电话：010-62797703<br/>
               北京创一教育科技有限公司版权所有 &nbsp;  京ICP备15066256号 &nbsp;  京公网安备11010802020180号<br/>
               </div>
          </div>
          
          
     </div>
</div>

</body>

<script>

	$(function(){
		
		$(".xuanfu").hover(function(){
  		 $(".sy_ewm").show();
  		 },function(){
   		$(".sy_ewm").hide();	
		}); 
		
	})
	function log_down()
	{
	var url=window.location.href;
	var head='public_pageFooter';
	var Jump_page='none';
	var ur="{:U('Index/log')}";
		var obj = {};
		obj.key = "value";
		$.post(ur+"?head="+head+"&&Jump_page="+Jump_page+'&&url='+url, obj,
			function(data,status)
				{
					
				}
			   );
	}

</script>