<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Login</title>

    <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/style-responsive.css" rel="stylesheet">
<script src="__PUBLIC__/js/jquery-1.8.2.min.js"></script>

<!--<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Admin/js/modernizr.min.js"></script>-->
<script type="text/javascript">
function change_code(obj){
	//	alert(125485);
	var verifyURL = '{:U("Login/verify", '','')}';
	$("#codes").attr("src",verifyURL+'/'+Math.random());
	return false;
}
$(document).ready(function(e) {
	
	
    $("#sumbits").click(function(e){
		//alert(123);
		var username=$("#username").val();
		var pwd=$("#pwd").val();
		var code=$("#code").val();
		if(username==''){
			alert("用户名为空");
		}else if(pwd==""){
			alert("请输入密码");
		}else if(code==""){
		alert("请输入验证码");	
			}else{
		
		$("#f1").submit();
		}
		})


});
</script>
  
</head>

<body class="login-body">

<div class="container">

    <form class="form-signin" id="f1" method="post" action="{:U('Login/login')}">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">登录</h1>
            <img src="__PUBLIC__/Admin/images/login-logo.png" alt=""/>
        </div>
        <div class="login-wrap">
        
            <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名" autofocus>
            <input type="password" class="form-control" name="password" id="pwd" placeholder="请输入密码">
              <input type="text" name="code" id="code" style="width:160px !important; float:left;" class="form-control" placeholder="请输入验证码">
             <a href="javascript:void(change_code(this));" style="display:block; text-align:center;width:130px !important; height:39.15px; float:left; ">
               <img style="width:130px !important; height:39.15px;border-radius: 5px; " src="{:U('Login/verify')}" id="codes" alt="点击刷新"  />
               </a>

            <!--<button class="btn btn-lg btn-login btn-block" type="submit">
                <i class="fa fa-check"></i>
            </button>
-->
              <a href="javascript:;" id="sumbits"><div class="btn btn-lg btn-login btn-block" style="clear:both;" type="submit">
         
                <i class="fa fa-check"></i>
            </div></a>
            </form>
            <!--<label class="checkbox">
                <input type="checkbox" value="remember-me"> 记住我
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> 忘记密码 ?</a>

                </span>
            </label>-->

        </div>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">忘记密码 ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>输入您的邮箱，我们将密码发送给你</p>
                        <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                        <button class="btn btn-primary" type="button">提交</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->

    </form>

</div>



<!-- Placed js at the end of the document so the pages load faster -->

<!-- Placed js at the end of the document so the pages load faster -->

</body>
</html>
