<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>首页管理</title>

  <!--dynamic table-->
  <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet">
  <link href="__PUBLIC__/Admin/css/style-responsive.css" rel="stylesheet">
  <style>
  .icon-edit{ font-size:18px; margin-right:10px;}
.ba_img{ width:100px !important; height:40px !important;}
.cy_img{ width:100px !important; height:58px !important;}
.ds_img{ width:40px !important; height:40px !important;}
.modal-header{ background:#62379E;}
  </style>

 
</head>
<body class="sticky-header" style=" background:#EFF0F4 none repeat scroll 0% 0%;">
   <!-- page heading start-->
        <div class="page-heading">
            <h3>
               首页管理
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">首页管理</a>
                </li>
                <li class="active"> 首页管理</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            轮播图管理

                        </header>
                        <div class="panel-body">

                            <div class="adv-table editable-table ">
                <div class="clearfix">
                    <div class="btn-group">
                        <a data-toggle="modal" href="{:U('Picture/addpictures')}"><button id="editable-sample_new"  class="btn btn-primary">
                            添加轮播图 <i class="fa fa-plus"></i>
                        </button></a>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" style=" margin-top:20px;" id="editable-sample">
                <thead>
                <tr>
                    <th>图片</th>
                    <th>标题</th>
                    <th>链接</th>
                    <th>操作</th>
                 
                </tr>
                </thead>
                <tbody>
                <foreach name="pictureslist" item="vo">
                <tr class="">
                
                    <td><if condition="$vo[picurl] eq ''"><img class="ba_img" src="__PUBLIC__/Admin/images/404-error.png"/><else /> <img class="ba_img" src="__ROOT__/Uploads/{$vo.picurl}"/></if></td>
                    <td>{$vo.title}</td>
                    <td class="center">{$vo.url}</td>
                    <td class="icon-wid">
                       <a class="icon-edit" data-toggle="modal" href="{:U('Picture/editpictures',array('id'=>$vo['id']))}"><i class="fa fa-edit"></i></a>
                       
                       <a class="icon-edit"  onclick="return window.confirm('是否确认将该用户信息全部删除？？');" href="{:U('Picture/delpictures', array('id'=>$vo['id']))}" ><i class="fa fa-times-circle"></i></a>
                    </td>
                    
                </tr>
</foreach>
                </tbody>
                </table>
                </div>

 
                        </div>
                    </section>
                </div>
                <!--创业干活-->
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            创业干货管理
<!--                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                             </span>-->
                        </header>
                        <div class="panel-body">

                            <div class="adv-table editable-table ">
                <div class="clearfix">
                    <div class="btn-group">
                        <a data-toggle="modal1" href="{:U('Picture/adddrysaltery')}"><button id="editable-sample_new"  class="btn btn-primary">
                            添加创业干货 <i class="fa fa-plus"></i>
                        </button></a>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" style=" margin-top:20px;" id="editable-sample">
                <thead>
                <tr>
                    <!--<th>图片</th>-->
                    <th>标题</th>
                    <th>链接</th>
                    <th>操作</th>
                 
                </tr>
                </thead>
                <tbody>
                
              
         
  <foreach name="drysalterylist" item="vo">
                <tr class="">
                    <!--<td><if condition="$vo[picurl] eq ''"><img class="cy_img" src="__PUBLIC__/Admin/images/404-error.png"/><else /> <img class="cy_img" src="__ROOT__/Uploads/{$vo.picurl}"/></if></td>-->
                    <td>{$vo.title}</td>
                     <td class="center">{$vo.url}</td>
                    <td class="icon-wid">
                       <a class="icon-edit" data-toggle="modal" href="{:U('Picture/editdrysaltery',array('id'=>$vo['id']))}"><i class="fa fa-edit"></i></a>
                      <!-- <a class="icon-edit" href="javascript:;"><i class="fa fa-exclamation-circle"></i></a>-->
                       <a class="icon-edit" onclick="return window.confirm('是否确认将该用户信息全部删除？？');" href="{:U('Picture/deldrysaltery', array('id'=>$vo['id']))}"><i class="fa fa-times-circle"></i></a>
                    </td>
                    
                </tr>
</foreach>
                </tbody>
                </table>
                </div>

                          
                        </div>
                    </section>
                </div>
                <!--创业干活-->
                <!--添加导师-->
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            活动管理
<!--                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                             </span>-->
                        </header>
                        <div class="panel-body">

                            <div class="adv-table editable-table ">
                <div class="clearfix">
                    <div class="btn-group">
                        <a data-toggle="modal" href="{:U('picture/addtutor')}"><button id="editable-sample_new"  class="btn btn-primary">
                            添加活动 <i class="fa fa-plus"></i>
                        </button></a>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" style=" margin-top:20px;" id="editable-sample">
                <thead>
                <tr>
                    <th>头像</th>
                    <th>名称</th>
                    <th>链接地址</th>
                    <th>操作</th>
                 
                </tr>
                </thead>
                <tbody>
                <noempty name="pictureslist">
                
                <foreach name="huodong" item="vo">
                <tr class="">
                    <td><if condition="$vo['img'] eq ''"><img class="ds_img" src="__PUBLIC__/Admin/images/404-error.png"/><else /> <img class="ds_img" src="__ROOT__/{$vo.img}"/></if></td>
                    <td>{$vo.name}</td>
                     <td class="center">{$vo.url}</td>
                    <td class="icon-wid">
                       <a class="icon-edit" data-toggle="modal" href="{:U('Picture/edittutor',array('id'=>$vo['id']))}"><i class="fa fa-edit"></i></a>
                      <!-- <a class="icon-edit" href="javascript:;"><i class="fa fa-exclamation-circle"></i></a>-->
                       <a class="icon-edit" onclick="return window.confirm('是否确认将该用户信息全部删除？？');" href="{:U('Picture/deltutor', array('id'=>$vo['id']))}" ><i class="fa fa-times-circle"></i></a>
                    </td>
                    
                </tr>
</foreach>
             </noempty>   
                
               
                    
                </tr>

                </tbody>
                </table>
                </div>
                
                
                
                
                
                
               

                            <!-- Modal -->
<!--                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">添加导师</h4>
                                        </div>

                                        <div class="modal-body row">

                                            <div class="col-md-5 img-modal">
                                                <img src="__PUBLIC__/Admin/images/gallery/image1.jpg" alt="">
                                                <a href="#" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> 编辑头像</a>
                                                <p class="mtop10"><strong>图片名称:</strong> img01.jpg</p>
                                                <p><strong>图片规格:</strong>745x300</p>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <label> 名称</label>
                                                    <input id="name" value="img01.jpg" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label> 职称</label>
                                                    <input id="link" value="__PUBLIC__/Admin/images/gallery/img01.jpg" class="form-control">
                                                </div>
                                                <div class="pull-right" style="float:left !important;">
                                                    <button style="background-color:#2E3644; border:1px solid #2E3644;" class="btn btn-danger btn-sm" type="button">取消</button>
                                                    <button style="background-color:#62379e; border:1px solid #62379e;" class="btn btn-success btn-sm" type="button">确定添加</button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>-->
                            <!-- modal -->

                        </div>
                    </section>
                </div>
                <!--添加导师-->
            </div>
        </div>
        <!--body wrapper end-->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="__PUBLIC__/Admin/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/Admin/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__/Admin/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Admin/js/modernizr.min.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.nicescroll.js"></script>

<script src="__PUBLIC__/Admin/js/jquery.isotope.js"></script>

<!--common scripts for all pages-->



</body>
</html>