<!DOCTYPE html __PUBLIC__ "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width"/>

<meta name="viewport" id="viewportid" content="target-densitydpi=285,width=640,user-scalable=no">

<script async type="text/javascript"></script><script>if(window.innerWidth>640)document.getElementById('viewportid').setAttribute('content','target-densitydpi=285,width=640,user-scalable=no');if(window.innerWidth<640)document.getElementById('viewportid').setAttribute('content','target-densitydpi=320,width=640,user-scalable=no');</script> 

<meta name="apple-touch-fullscreen" content="no">

<meta content="telephone=no" name="format-detection">

<meta name="apple-mobile-web-app-capable" content="no">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>{$title}</title>


<link rel="stylesheet" href="__PUBLIC__/css/phone_kecheng.css" />
<style type="text/css">
.chuang2 {
    width: 600px;
    padding: 20px 20px 0px;
    word-break: break-all;
    font-weight: 200px;
    line-height: 44px;
    font-size: 30px;
    text-align: left;
}
.k_kcap > span {
    color: #000;
    margin-left: 10px;
}
.k_kke > span {
    margin-left: 10px;
}
.skls {
    width: 600px;
    padding: 20px;
  border-top:20px solid #f0f0f0;
}
.d_js{ font-size:26px; color:#525252; line-height:44px; word-break:break-all; margin-top:20px;}
.k_tab ul li {
    width: 200px !important;
    height: 98px;
    float: left;
}
.jrkc_dh{
   display:block;
   height:100px;
   width:180px;
   background:#fff;
   float:left;
   line-height:94px;
   text-align: center;
   color: #ff8c1c;
   font-size: 28px;
   font-weight: 700;
 }
.jrkc_1{
   display:block;
   height:100px;
   width:460px;
   background:#ff8c1c;
   float:left;
   line-height:94px;
   text-align: center;
   color: #fff;
   font-size: 28px;
   font-weight: 700;
 }
 .exchange{ width: 640px;
  background: #fff;
  height: 100px;
  line-height: 58px;
  text-align: center;
  color: #ff8c1c;
  border-top: 1px solid #dedede;
  font-size: 28px;
  font-weight: 700;
  position: fixed;
  bottom: 0px;
  left:0px;
}
</style>
</head>

<body>
<div class="warpper" style="background:#fff; position:relative;">
<include file="Public:phone_head_xin" />
  <volist name="list" id="vo">  
    <div class="k_bj" style="height:330px;">
    <if condition="$type eq 1 "> 
        <a href="{:U('Index/phone_login')}">
            <img src="__ROOT__/{$vo.jietu}" />
        </a> 
    </if>
    <if condition="$type neq 1 "> <!--type=0 已登录-->
      <if condition="$vo.cost gt 0 and $user_course_add eq null"><!--需要付钱-->
        <a href="javascript:;" onclick="alert('请先购买后观看')">
                <img src="__ROOT__/{$vo.jietu}" style="width:640px;" />
            </a>
            <!--<a href="javascript:;" class="jrkc_1" id='code' onClick="check_login('{:U('Pay/index',array('cid'=>$vo['id'],'type'=>'course'))}')" >积分兑换课程</a>-->
            <div class="exchange">
            <a href="javascript:;" class="jrkc_dh" id='ke2' style="width:240px;"onclick="check_login(event,'{:U('Pay/index',array('cid'=>$vo['id'],'type'=>'course'))}' )" >￥{$vo.cost}加入单课</a>
            <volist name="series" id="vos">
                    <if condition="$vos.cost gt 0 ">
                        <a href="javascript:;" class="jrkc_1" id='ke1' style="width:400px;"onclick="check_login(event,'{:U('Pay/index',array('cid'=>$vos['id'],'type'=>'course'))}' )" >￥{$vos.cost} 加入完整课程</a>
                    </if>
            </volist>
            <else />  <!--可直接观看-->
              <iframe src="{$vo.href}" style="width: 640px;height: 330px;margin: 0 auto;text-align: center;" frameborder="no" border="0" scrolling="no" allowtransparency="yes">
                  <!--  -->
                </iframe>
            </div>
       </if>

    </if>
    </div>
      <div class="k_tab">
        <ul>
           <a  href="javascript:;">
              <li>
                  <div class="k_active" id="xiangqing_head" onclick="chang('xiangqing');">直播简介</div>
             </li>
           </a>
           <a  href="javascript:;">
              <li>
                  <div id="tuijian_head" onclick="chang('tuijian');" >嘉宾介绍</div>
             </li>
           </a>
           <a  href="javascript:;">
              <li>
                  <div id="series_head" onclick="chang('series');" >系列直播</div>
             </li>
           </a>
        </ul>
    </div> 
    <!--课程详情-->
    <div class="k_detail" style="" id="xiangqing">
         <p class="chuang2">{$vo.title}</p>
         <div class="k_xinxi">
             <p class="k_kke" style=" font-size:23px; ">开始时间:<span>{$vo.start_time|default=time()|date='Y-m-d H:i',###}</span></p>
             <p class="k_kke" style=" font-size:23px; color:#333;">结束时间:<span>{$vo.time_end|default=time()|date='Y-m-d H:i',###}</span></p>
             <p class="k_kcap" style=" font-size:23px; color:#333;">主&nbsp;&nbsp;办&nbsp;&nbsp;方:<span style=" font-size:23px; color:#333">{$vo.source}</span></p>

         </div>
  </volist>
         
      <volist name="list" id="vo">     
         <div class="skls">
             <p class="chuang1">直播介绍</p>
             <div class="k_wz">
          {$vo.brief}
             </div>
         </div>
      </volist>   
    </div>
    <!--课程详情end-->
    
     <!--嘉宾介绍-->
  <div class="skls" style=" display:none; border-top: 0px;" id="tuijian" >
             <p class="chuang1">嘉宾介绍</p>
             <volist name="teacher" id="vo">
             <div class="k_teacher">
                  <div class="tx_poto"><img src="__ROOT__{$vo.image}" /></div>
                  <div class="k_right">
                      <p>{$vo.name}<span>{$vo.job}</span></p>
                      <p>{$vo.brief}</p>
                  </div>
             </div>
      </volist>
         </div>

    <!--嘉宾介绍end-->
    <!--系列直播-->
    <div class = "skls" style="display:none;" id="series">
       <volist name="series" id="vos">
                <if condition="$vos.id neq null">
                  <div class="i_list">
                <ul id="ul">
                    <volist name="corre_zhibo" id="vo">
                    <a href="javascript:;" onClick="log_url(event,'{:U('Zhibo/zhibo_details/',array('zid'=>$vo['id']))}','corre_zhibo')">
                    <li>
                        <div class="i_left">
                            <if condition="$vo.image neq null"><img class="sy_zx_pic" src="__ROOT__/{$vo.image}"/>
                            <elseif condition="$vo.jietu neq null"/><img class="sy_zx_pic" src="__ROOT__/{$vo.jietu}"/>
                            </if>
                        </div>
                        <div class="i_right">
                            <div class="i_title">{$vo.title}</div>
                            <p >开课时间{$vo.start_time|default=time()|date='Y-m-d',###}</p>
                            <p class="jifen" style="color:#ff2a00">{$vo.cost}积分</p>
                            <!--<div class="i_x"><p>{$vo.time_ad}</p><img src="__PUBLIC__/image/i_tx.png"/><span>{$vo.nu_add}</span></div>-->
                        </div>
                     </li>
                    </a>
                    </volist>
                </ul>
            </div>
                </if>
          </volist>
    </div>
    <div style="height:100px">
    </div>
</div>
</body>
</html>
<script src="__PUBLIC__/js/index/jquery1.9.1.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/js/course/phone_course_details.js"> </script>
<script>
var url='__URL__/';
var url_login='{:U("Index/phone_login")}';
var url_weixin='{:U("Index/url_weixin")}';
var url_log="{:U('Index/log')}";

function check_login(e,Jump_page)
{

    var ur="{:U('Course/shanghuo')}";
    var obj = {};
    obj.key = "value";
    $.post(ur, obj,
        function(data,status)
        {
            if(data==0)
            {

                jump_login(e);

                document.getElementById("pwuser").innerHTML ="请登录后观看视频！";

            }
            else
            {
                window.location.href=Jump_page;
            }

        }
    );


}
</script>
</script>