<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>中国创业学院</title>
<link rel="stylesheet" type="text/css" media="screen" href="css/style.css"/>
<link href="css/focus.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/common.css"/>

</head>

<body style="background:#fff; width:100%;">

              <div class="us_right_nav" style="width:100% !important;">
                  <div class="us_list" style=" position:fixed; top:0px;">我的课程</div>
                   <div class="us_list_content" style="margin-top:40px;">
                       <ul>
                            <li>
                                <img class="us_zx_pic" src="image/bn2.png"/>
                                <div class="us_caption">
                                    <h6 class="us_zx_title">这里有最新最热门的资讯这里有最新最热门的资讯</h6>
                                    <div class="us_tips">
                                                 <span class="us_subhead-content">  <img id="touxiang" src="image/guanzhushu.png"/>125</span>
                                                 <span class="us_subhead-content"><img src="image/4.png"/>&nbsp;<span class="sy_fen">8.0</span></span>
                                                 <span class="us_subhead-content">老师：&nbsp;李楠</span>
                                                 
                                        <p class="us_zx_brief">有史以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史
以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史
以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史
以来最好的资讯</p>
                                        <a class="us_begin" href="">开始上课</a>
                                    </div>
                                </div>
                              
                            </li>
                            <li>
                                <img class="us_zx_pic" src="image/bn2.png"/>
                                <div class="us_caption">
                                    <h6 class="us_zx_title">这里有最新最热门的资讯这里有最新最热门的资讯</h6>
                                    <div class="us_tips">
                                                 <span class="us_subhead-content">  <img id="touxiang" src="image/guanzhushu.png"/>125</span>
                                                 <span class="us_subhead-content"><img src="image/4.png"/>&nbsp;<span class="sy_fen">8.0</span></span>
                                                 <span class="us_subhead-content">老师：&nbsp;李楠</span>
                                                 
                                        <p class="us_zx_brief">有史以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史
以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史
以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史
以来最好的资讯</p>
                                        <a class="us_begin" href="">开始上课</a>
                                    </div>
                                </div>
                              
                            </li>
                            <li>
                                <img class="us_zx_pic" src="image/bn2.png"/>
                                <div class="us_caption">
                                    <h6 class="us_zx_title">这里有最新最热门的资讯这里有最新最热门的资讯</h6>
                                    <div class="us_tips">
                                                 <span class="us_subhead-content">  <img id="touxiang" src="image/guanzhushu.png"/>125</span>
                                                 <span class="us_subhead-content"><img src="image/4.png"/>&nbsp;<span class="sy_fen">8.0</span></span>
                                                 <span class="us_subhead-content">老师：&nbsp;李楠</span>
                                                 
                                        <p class="us_zx_brief">有史以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史
以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史
以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史
以来最好的资讯</p>
                                        <a class="us_begin" href="">开始上课</a>
                                    </div>
                                </div>
                              
                            </li>
                            <li>
                                <img class="us_zx_pic" src="image/bn2.png"/>
                                <div class="us_caption">
                                    <h6 class="us_zx_title">这里有最新最热门的资讯这里有最新最热门的资讯</h6>
                                    <div class="us_tips">
                                                 <span class="us_subhead-content">  <img id="touxiang" src="image/guanzhushu.png"/>125</span>
                                                 <span class="us_subhead-content"><img src="image/4.png"/>&nbsp;<span class="sy_fen">8.0</span></span>
                                                 <span class="us_subhead-content">老师：&nbsp;李楠</span>
                                                 
                                        <p class="us_zx_brief">有史以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史
以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史
以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史
以来最好的资讯</p>
                                        <a class="us_begin" href="">开始上课</a>
                                    </div>
                                </div>
                              
                            </li>
                            <li>
                                <img class="us_zx_pic" src="image/bn2.png"/>
                                <div class="us_caption">
                                    <h6 class="us_zx_title">这里有最新最热门的资讯这里有最新最热门的资讯</h6>
                                    <div class="us_tips">
                                                 <span class="us_subhead-content">  <img id="touxiang" src="image/guanzhushu.png"/>125</span>
                                                 <span class="us_subhead-content"><img src="image/4.png"/>&nbsp;<span class="sy_fen">8.0</span></span>
                                                 <span class="us_subhead-content">老师：&nbsp;李楠</span>
                                                 
                                        <p class="us_zx_brief">有史以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史
以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史
以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史以来最好的资讯有史
以来最好的资讯</p>
                                        <a class="us_begin" href="">开始上课</a>
                                    </div>
                                </div>
                              
                            </li>
                           
                       </ul>
                   </div>
              </div>
          </div>
          
             <!--have no coures-->
<!--             <div class="no_content">
                 <img src="image/kong.png"/>
                 <p>还没有完结的课程～</p>
                 <a href="">去找课程</a>
             </div>-->
          </div>
</body>
</html>
