<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>中国创业学院</title>
<link rel="stylesheet" type="text/css" media="screen" href="__PUBLIC__/css/style.css"/>
<link href="__PUBLIC__/css/focus.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/css/common.css"/>

</head>

<body style="background:#fff; width:100%;">

              <div class="us_right_nav" style="width:100% !important;">
                   <div class="us_list" style=" position:fixed; top:0px; width:100% !important;">修改密码</div>
                   <div class="us_list_content" style=" margin:5% 0%; !important;">
                    
                        <div style=" width:100%; overflow:hidden;">
                            <div class="ps_left">旧密码</div>
                            <input name="srk" type="text" class="ps_name" id="jiumima" value="" />
							<div id='password' style=" float: left;width: 20%;font-size: 12px;color: #FF0000;text-align: left;padding: 30px 0px;">
								
							</div>
                        </div>
                        <div style=" width:100%; overflow:hidden;">
                            <div class="ps_left">新密码</div>
                            <input name="srk" type="text" class="ps_name" id="xinmima" value="" />
							<div id='password1' style=" float: left;width: 20%;font-size: 12px;color: #FF0000;text-align: left;padding: 30px 0px;">
							</div>
                        </div>
                        <div style=" width:100%; overflow:hidden;">
                            <div class="ps_left">确认新密码</div>
                            <input name="srk" type="text" class="ps_name" id="querenmima" value="" />
							<div id='password2' style=" float: left;width: 20%;font-size: 12px;color: #FF0000;text-align: left;padding: 30px 0px;">
							</div>
                        </div>
                       
                   </div>
                    <input type="button" class="ps_begin" value="确认保存" onclick="password();"  />
                       
             
              </div>
</body>
</html>
<script src="__PUBLIC__/js/index/jquery1.9.1.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/uinfo/phone.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/uinfo/password.js" type="text/javascript"></script>
<script>
function yz_mm()
{	
		var jiumima = document.getElementById("jiumima").value;
		var obj = {};
		obj.key = "value";
		$.post("__APP__/Home/Uinfo/yz_mm/pw/"+jiumima, obj,
			function(data,status)
				{		
						if(data==1)
						{
							insert_pw();
						}
						else
						{
									document.getElementById("password").innerHTML = "密码错误！！";
									var t=setTimeout("clearusername()",2000);
									return;
						}
				}
			   );

}
function insert_pw()
{	
		var jiumima = document.getElementById("jiumima").value;
		
		var xinmima = document.getElementById("xinmima").value;
	
		var querenmima = document.getElementById("querenmima").value;
		
		var obj = {};
		obj.key = "value";
		$.post("__APP__/Home/Uinfo/insert_pw/pw/"+jiumima+"/npw/"+xinmima+"/cpw/"+querenmima, obj,
			function(data,status)
				{
						if(data==0)
						{
									document.getElementById("password").innerHTML = "修改密码失败！！";
									var t=setTimeout("clearusername()",2000);
									return;							
						}
						else
						{
									document.getElementById("password").innerHTML = "修改成功请重新登陆";
									var t=setTimeout("userout()",2000);
									return;
						}
				}
			   );

}
function userout()
{	
		var obj = {};
		obj.key = "value";
		$.post("__APP__/Home/Index/userout/", obj,
			function(data,status)
				{
					if(data==1)
					{
						window.location.reload();
					}
					else
					{
						alert('未知错误');
					}
				}
			   );
}
</script>