<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>中国创业学院</title>
<link rel="stylesheet" type="text/css" media="screen" href="css/style.css"/>
<link href="css/focus.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/common.css"/>

</head>

<body style="background:#fff; width:100%;">

              <div class="us_right_nav" style="width:100% !important;">
                   <div class="us_list" style=" position:fixed; top:0px; width:100% !important;">个人信息</div>
                   <div class="us_list_content" style=" margin:4% 0%; !important;">
                        <div class="ps_left">个人头像</div>
                        <div class="ps_pic">
                             <img src="image/touxiang1.png"/>
                             <a href=""><img src="image/shangchuan.png"/></a>
                        </div>
                        <div style=" width:100%; overflow:hidden;">
                            <div class="ps_left">昵称</div>
                            <input name="srk" type="text" class="ps_name" value="" />
                        </div>
                        <div style=" width:100%; overflow:hidden;">
                            <div class="ps_left">真实姓名</div>
                            <input name="srk" type="text" class="ps_name" value="" />
                        </div>
                        <div style=" width:100%; overflow:hidden;">
                            <div class="ps_left">个人简介</div>
                            <textarea name="srk"  class="ps_ms" ></textarea>
                        </div>
                   </div>
                    <input type="button" class="ps_begin" value="确认保存"  />
                       
             
              </div>
</body>
</html>
