<div style="width:300px;height:64px;overflow:auto;"> 
    <div style="width:640px;">       
        <div style="width:128px;height:64px;background:pink;float:left;"></div>        
        <div style="width:128px;height:64px;background:yellow;float:left;"></div>            
         <div style="width:128px;height:64px;background:#234566;float:left;"></div>        
        <div style="width:128px;height:64px;background:#453782;float:left;"></div>        
       <div style="width:128px;height:64px;background:#997788;float:left;"></div>
    </div>
</div>